@model Paginacion<tplab.Models.Entidades.Lote>

@{
    ViewData["Title"] = "Index";
}

<h1>Lotes</h1>

<p>
    <a asp-action="Create" class="btn btn-light">Create New</a>
</p>
    <a asp-action="ExportarLotesAExcel" class="btn btn-outline-primary">Descargar listado de lotes a excel</a>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            <label>Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" /></label>
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-action="Index" class="btn btn-light">Back to Full List</a>
        </p>
    </div>
</form>
<table class="table table-hover table-borderless">
    <thead >
        <tr>
            <th>
                 <a asp-action="Index" asp-route-sortOrder="ProdOrder">Producto</a>
            </th>
            <th>
               Cantidad
            </th>
            <th>
                 <a asp-action="Index" asp-route-sortOrder="DateOrder">Vencimiento</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody >
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Producto.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaVencimiento)
            </td>

            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-secondary">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-outline-dark @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-outline-dark @nextDisabled">
    Next
</a>
